<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Math Quiz</title>
</head>
<body>
    <h1>Dobrodošli u Matematički Kviz!</h1>
    <form action="/quiz" method="POST">
        <label for="operation">Odaberi operaciju:</label>
        <select id="operation" name="operation">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <button type="submit">Pokreni Kviz</button>
    </form>
</body>
</html>
